<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template</title>
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <div class="container">
        <header class="page-header">
            <h1>Tìtulo página</h1>
        </header>
        <nav class="page-nav">
            <ul>
                <li><a href="#">menu 1</a></li>
                <li><a href="#">menu 2</a></li>
                <li><a href="#">menu 3</a></li>
                <li><a href="#">menu 4</a></li>
            </ul>
        </nav>
        <main class="page-main">
            <section class="page-section">
                <h2>Sección 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum facilis labore hic eius, iste quaerat ad quas esse quo nihil libero odio unde temporibus. Corrupti, voluptates? Doloribus aut provident quos eligendi tempora illum reiciendis error cumque, praesentium laudantium, hic, nisi cum suscipit culpa inventore libero non? Tempora hic fuga id enim voluptatum doloribus laboriosam cumque voluptate assumenda tenetur officiis est quidem fugit vel veritatis itaque, facere dolore optio autem accusamus commodi! Dignissimos, officiis explicabo exercitationem quasi autem excepturi cum debitis ratione aspernatur sapiente saepe dolorum cumque quas facere laborum, laudantium vero. Amet blanditiis ut dolor, deleniti quia sint reiciendis laudantium?</p>
                <p>Nostrum porro officia dolorum, ex, sapiente, ea dolorem labore optio asperiores voluptas atque eveniet consectetur ipsam delectus. A officiis nobis tenetur ducimus, nam illo cupiditate, sint saepe exercitationem ut eveniet illum quia, dolor ex sunt! Consectetur, voluptatem incidunt. Temporibus, facilis quisquam, rem saepe voluptate impedit ullam voluptatem ipsa blanditiis alias ratione nihil veniam consequatur eum? Quas, aut quisquam, culpa minima nostrum impedit tempore maiores excepturi placeat architecto necessitatibus sunt animi dolor? Dolorem ab expedita provident consequatur sed quo magni amet illum, perferendis facere maiores quod explicabo sint quibusdam animi. At earum molestiae numquam fugit dolore quia tempore architecto quaerat nisi?</p>
            </section>
            <section class="page-section">
                <h2>Sección 2</h2>
                <p>Aut quibusdam necessitatibus officia dicta, temporibus blanditiis harum id sit? Adipisci modi ratione error. Tenetur sapiente sunt facilis cumque expedita porro aliquid vitae exercitationem reprehenderit iure ea, voluptatibus omnis dolor magni blanditiis nesciunt voluptates sed officiis incidunt impedit ipsam? Iure in officiis iste temporibus voluptatibus dolores dolor cupiditate quasi aperiam mollitia ea, excepturi nam ut. Quis amet asperiores veniam at labore eos! Ipsam vel earum quisquam suscipit distinctio nulla eligendi et modi id, sapiente qui illum, incidunt fuga assumenda consectetur eveniet a illo nihil exercitationem perspiciatis, porro autem non. Totam distinctio rerum debitis possimus et maxime beatae enim id eum.</p>
                <p>Eveniet quos voluptate, magni voluptatem vitae iste assumenda iusto quisquam, obcaecati sit recusandae neque corporis? Dolorum esse accusamus quibusdam molestias praesentium deserunt eos dicta quae rerum, quas officiis expedita inventore nulla consequatur! Perspiciatis temporibus nostrum fugit optio dolore nobis vel eveniet, architecto, totam, inventore repudiandae? Mollitia iusto repudiandae, id quibusdam quae nobis, explicabo alias rerum aliquid perferendis molestias porro neque a suscipit exercitationem vero quos consequatur eaque fugit omnis nisi. Illum tempora veritatis reiciendis minus perspiciatis mollitia labore quo harum. Esse nemo molestias similique voluptatibus molestiae ea, quos magnam, blanditiis, praesentium possimus corrupti hic. Perferendis delectus saepe voluptatem rem aut?</p>
            </section>
        </main>
        <footer class="page-footer">
            <p>Todos los derechos reservados | eduMac 2018 | Liz Serrano</p>
        </footer>
    </div>
    <div id="js">
        <script src="js/lib/jquery-3.3.1.min.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>