<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template</title>
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <div class="container">
        <header class="page-header">
            <h1>Tìtulo página</h1>
        </header>
        <nav class="page-nav">
            <ul>
                <li><a href="#">menu 1</a></li>
                <li><a href="#">menu 2</a></li>
                <li><a href="#">menu 3</a></li>
                <li><a href="#">menu 4</a></li>
            </ul>
        </nav>
        <main class="page-main">
            <section class="page-section">
                <div class="grid">
                    <div class="col col-tb-4">
                        <h2>Seccion 1</h2>
                    </div>
                    <div class="col col-tb-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, tempore voluptate exercitationem quidem architecto culpa veritatis necessitatibus modi labore veniam itaque delectus consequuntur eos, accusantium natus laboriosam, quibusdam praesentium pariatur esse a iusto voluptas in eligendi. Et rem provident fugiat libero nostrum cupiditate, minus dignissimos eum illum. Ducimus consectetur laboriosam, quia odit eveniet delectus doloribus non aliquid, dolorem rerum at inventore enim maxime voluptatem assumenda dolor harum soluta excepturi optio atque fugit. Fuga at, ad consequuntur eos aspernatur dolorum fugiat ducimus ullam temporibus eaque accusantium odit ab repudiandae nam dolores dolor eligendi praesentium qui ipsa delectus quidem culpa cumque! Culpa.</p>
                        <p>Tempora cum non, quod, hic magnam facere ea obcaecati error incidunt sunt deserunt illo officiis nulla delectus est optio atque fuga. Cupiditate corrupti provident nobis unde repellat? Id quam necessitatibus ullam exercitationem quae a eveniet. Dolore obcaecati libero modi consectetur aliquam corporis reiciendis excepturi maxime. Delectus numquam doloribus explicabo voluptatibus dolorum ex esse sit dolores amet eaque, unde temporibus officiis quos impedit facere quia magnam hic! Corrupti unde, placeat ad enim ullam consectetur dolor? Quos aliquid inventore accusamus vel expedita maiores dolorum placeat nisi mollitia est. Quasi, ratione? Aspernatur neque eaque ratione eligendi ea, modi et libero ipsum facilis. Ex.</p>
                    </div>
                </div>
            </section>
        </main>
        <footer class="page-footer">
            <p>Todos los derechos reservados | eduMac 2018 | Liz Serrano</p>
        </footer>
    </div>
    <div id="js">
        <script src="js/lib/jquery-3.3.1.min.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>