@charset "UTF-8";
/*Comentario de una línea */

/* Sintaxis de una regla CSS
Selector {
	nombre-propiedad: valor;
	nombre-propiedad: valor;
	los que quieras...
}
p.ej. Para estrablecer el color en las etiquetas de párrafo seria de la sig manera:
p {
	color: #f00;
	
}

*/

.container {
	max-width: 1200px;
	
   /* para centrar un elemento de bloque, tenemos que establecer un márgen automático a la izquierda
   y también a la derecha. */
	margin: 0 auto;
}

